body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgrey;
  border-radius: 20px;
  padding: 10px 20px;
}

a:link {
  text-decoration: none;
}

header > nav {
  display: flex;
  align-items: center;
}

nav a {
  padding: 5px 10px;
  color: black;
}

nav a:hover {
  background: darkgrey;
  border-radius: 10px;
}
